{%extends 'base.html'%} {% block content %}
<hr />
<div class="container-fluid cont">
	<div>
		<img src="static/images/favicon.jpg" class="imagez img-fluid" />
	</div>
	<div class="titl">
		<h1 class="click">
			 <i class="h1">"Joseph Oderoh"</i> <br />
		</h1>
		<h2><span class="hd2">Fullstack Software Developer
			Experienced Full Stack Developer with a demonstrated history.<br/> Building Web applications with  Angular,Python, Django, Flask, MySQL/Postgres and some other cool libraries and frameworks.</span></h2>
		
	</div>	
</div>

<div class="container text-center">
	<button class="gitz mt-5 mr-5"><a class="nav-link" href="https://github.com/Joseph-oderoh"><span class="mdi mdi-github"></span></a></button>
	<button class="in mt-5 mr-5"><a class="nav-link" href="https://www.linkedin.com/in/kenedyoderoh/"><span class="mdi mdi-linkedin"></span></a></button>
	<button class="twit mt-5"><a class="nav-link" href="https://twitter.com/OderohK"><span class="mdi mdi-twitter"></span></a></button>
	
</div>
<div class="container">
<h3 class="mt-5 text-warning text-center abt">About_Me</h3>
	<hr class="hr"/>

	<p class="text-center text-light about mt-5">
		I am a Software developer recently graduated from Moringa school were i interacted with 
	   different programming languages  such Python,javascript and Angular framework for frontend  design. Which I used to come up with and create 
	   variours web apps  from the diferrent  languages Django and Flask. Which makes me be able backends and frontend modules designs. While in moringa I was also 
	   at one point I was put as A scrum master during  end module group project development. This held in inproving soft leadership skills,working with others .
	</p>

	

</div>
<div class="container Whatwe " id="What we do">
	<h3 class="mt-5 text-warning text-center abt">Intrest</h3>
	<hr class="hr"/>
    <div class="row">
		<div class="col-md-4">
			<div id="product-image">
				<img src="/static/images/jk.jpg" id="movies" alt="movies" height="100">
				<!-- <h1>Product Managment</h1> -->
			  </div>
			<div id="watch" class="none">
			  <h3 class="title">watching Movies</h3>
			 <p class="text-white">
			On my own time  Watching movies ,series to be  exactly .This is very intrestig you get to get different  people get to intreprate and  incopporate
			thier thinking into film.To me that is motivating in some way to developers.
			 </p>
			</div>
			
		</div>
      <div class="col-md-4">
          <div id="dev_imag">
            <img src="/static/images/download.png" id="walk" alt="walk" height="100">
            <!-- <h1>Design</h1> -->
          </div>
        <div id="walking" class="none">
          <h3 class="title">Walking</h3>
          <p class="text-white">
			  I usullay like  for short or long walks depending on how  my day was. This some time helps me to cool off take a breath as you know coding cone some times be overwelming
			  and one can never run on fumes brakes are needed
		  </p>
        </div>   
      </div>
      <div class="col-md-4">
        <div id="music-image">
            <img src="/static/images/Music_Music_1-copy-9.jpg" id="musicz" alt="Music" height="100">
            <!-- <h3>Development</h3> -->
          </div>
        <div id="music" class="none">
          <h2 class="title">Listening music</h2>
          <p class="text-white">
			Sometimes while indoors i like  listening  to miusic to help me relax and also some times  while coding  there something that makes it intrestig.
		  </p>
        </div>
       
      </div>
     
    </div>
</div>  


<div class="container mb-5">
	<h1 class="mt-5 text-warning text-center abt">My_skills</h1>
	<hr class="hr"/>
	<div class="row">
		<div class="col-md-12">
			<div class="progress">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><strong class="text-dark">Python 25%</strong></div> 
			  </div>
			  <br/>
			  <div class="progress">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><strong  class="text-dark">Javascript 45%</strong></div>
			  </div>
			  <br/>
			  <div class="progress">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><stron  class="text-dark">Django 60%</strong></div>
			  </div>
			  <br/>
			  <div class="progress">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong  class="text-dark">Angular 50%</strong></div>
			  </div>
			  <br/>
			  <div class="progress">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong  class="text-dark">Html 80%</strong></div>
			  </div>
			  <br/>
			  <div class="progress">
				<div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong  class="text-dark">CSS 70%</strong></div>
			  </div>
		</div>
	</div>
</div>

{% endblock %}
